In [1]:
import pandas as pd
import numpy as np

In [10]:
print(f"Starting datetime: {pd.to_datetime('today')}")

Starting datetime: 2022-07-19 18:38:18.085057

In [43]:
data = pd.read_csv("../data/movie_metadata.csv")

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     5043 non-null   object
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB

In [6]:
data.sample(7)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2982,Color,Ryan Murphy,132.0,122.0,708.0,316.0,Joseph Cross,433.0,6754898.0,Comedy|Drama,...,188.0,English,USA,R,12000000.0$,2006.0,398.0,6.2,2.35,0
715,Color,David Fincher,568.0,149.0,21000.0,625.0,Sela Ward,835.0,167735396.0,Crime|Drama|Mystery|Thriller,...,1127.0,English,USA,R,61000000.0$,2014.0,812.0,8.1,2.35,146000
4611,Color,David Cross,20.0,96.0,0.0,396.0,Matt Walsh,782.0,NaN,Comedy|Drama,...,8.0,English,USA,NaN,1000000.0$,2014.0,490.0,5.8,1.78,903
1079,Color,Alan J. Pakula,43.0,141.0,79.0,956.0,Julia Roberts,18000.0,100768056.0,Crime|Drama|Mystery|Thriller,...,89.0,English,USA,PG-13,45000000.0$,1993.0,8000.0,6.5,2.35,0
2888,Color,Mark Neveldine,93.0,91.0,83.0,794.0,Alison Lohman,3000.0,1712111.0,Horror|Thriller,...,53.0,English,USA,PG-13,8495000.0$,2015.0,1000.0,4.5,1.85,0
3821,Color,Billy Bob Thornton,104.0,148.0,0.0,263.0,Dwight Yoakam,3000.0,24475416.0,Drama,...,309.0,English,USA,R,890000.0$,1996.0,324.0,8.0,1.85,0
3377,Color,Wes Craven,109.0,107.0,0.0,112.0,Heather Langenkamp,969.0,18090181.0,Fantasy|Horror|Mystery|Thriller,...,271.0,English,USA,R,8000000.0$,1994.0,449.0,6.4,1.85,0

1.2. The duration column contains data on the film length. How many missing values are there
in this column?

In [12]:
data["duration"].isnull().sum()

15

1.3. Replace the missing values in the duration column with the median value for this column.

In [46]:
avg = data["duration"].mean()
data["duration"].fillna(avg, inplace = True)

1.4. What is the average film length? Give the answer as a floating-point figure rounded to
two decimal places.

In [16]:
round(avg,2)

107.2

1.5. Create a movie_duration_category column, which will contain three categories
depending on the film length:
* Category "1. <90" if the film is less than 90 minutes long
* Category "2. 90–120" if the film is between 90 minutes and two hours long (inclusively)
* Category "3. >120" if the film is more than two hours long

In [47]:
condlist=[(data.duration < 90),
          ((data.duration>=90) & (data.duration < 120)),
          (data.duration>=120)
         ]

choicelist = ["<90","90-120",">120"]

data.loc[:,"movie_duration_category"] = np.select(condlist= condlist, choicelist=choicelist,)

data[["duration", "movie_duration_category"]].sample(5)

      duration movie_duration_category
410      120.0                    >120
3190     111.0                  90-120
4444     102.0                  90-120
2334     103.0                  90-120
321       95.0                  90-120

1.6. Build a summary table for films released after 2000 (inclusively), to list the numbers of
films:
* Table rows: year
* Table columns: movie duration category ("<90", "90–120", ">120")
* The year of release should be displayed in the YYYY format.

In [57]:

summary_table = (data
 .assign(counter_ = 1)
 .assign(title_year_int = lambda x: x["title_year"].astype('Int64'))
 .query("title_year_int >= 2000")
 .groupby(["title_year_int","movie_duration_category"])
 .counter_
 .sum()
 .unstack()
 .reset_index()
 .rename(columns = {"title_year_int":"title_year"})
 
)

summary_table

movie_duration_category  title_year  90-120  <90  >120
0                              2000     108   25    38
1                              2001     118   29    41
2                              2002     145   36    28
3                              2003     104   31    34
4                              2004     134   30    50
5                              2005     141   31    49
6                              2006     142   40    57
7                              2007     126   31    47
8                              2008     157   29    39
9                              2009     174   42    44
10                             2010     169   26    35
11                             2011     149   36    40
12                             2012     139   41    41
13                             2013     141   38    58
14                             2014     170   36    46
15                             2015     142   34    50
16                             2016      72    8    26

1.7. How many films between 90 minutes and two hours long were released in 2008?

In [62]:
summary_table.loc[summary_table.title_year == 2008,"90-120"].values[0]

157

1.8. The plot_keywords column holds keywords characterizing the film's plot. Using the data
in this column, create a column called movie_plot_category, to contain four categories
depending on the key words in the column:
* Category "love_and_death" if the keywords include both "love" and "death"
* Category "love" if the keywords include the word "love"
* Category "death" if the keywords include the word "death"
* Category "other" if the keywords do not meet the conditions above

In [74]:
data["plot_keywords"] = data["plot_keywords"].fillna("")

condlist=[(data.plot_keywords.str.contains("love")) & (data.plot_keywords.str.contains("death")),
          (data.plot_keywords.str.contains("love")),
          (data.plot_keywords.str.contains("death")),
         ]

choicelist = ["love_and_death","love","death"]

data.loc[:,"movie_plot_category"] = np.select(condlist= condlist, choicelist=choicelist,default = "other")

data[["plot_keywords", "movie_plot_category"]].sample(5)

                                          plot_keywords movie_plot_category
3884  androgynous|full frontal male nudity|irish rep...                love
3513        artist|box office flop|dog|drawing|flanders               other
3686   drug addict|drug addiction|drug use|drugs|junkie               other
2674          car chase|gangsta|gun fight|hitman|kitten               other
3405         cancer|children|death|terminal cancer|time               death

1.9. The imdb_score column shows a viewer rating for the film. Build a table to reflect the
average rating of films depending on which movie_plot_category category they belong to.

In [80]:
table = data.groupby("movie_plot_category", as_index = False).imdb_score.mean()

In [81]:
table

  movie_plot_category  imdb_score
0               death    6.535465
1                love    6.580769
2      love_and_death    6.506250
3               other    6.431422

1.10. What is the average rating of films in the "love" category? Give the answer as a floatingpoint
figure rounded to two decimal places.

In [86]:
round(table.query("movie_plot_category == 'love'").imdb_score.values[0],2)

6.58

1.11. The budget column contains the film's budget. What is the median budget for all the films
listed? Give the answer as an integer.

In [94]:
int(
 (data
 .assign(numeric_budget = data.budget.apply(lambda x: x.split(".")[0]).astype("float"))
 .numeric_budget
 .median()
)
)

15000000

In [95]:
print(f"Ending datetime: {pd.to_datetime('today')}")

Ending datetime: 2022-07-19 19:14:28.044468