In [5]:
from time import time
import pandas as pd
import numpy as np

# Answer the question: 

"What is the difference between DataFrame and Series?"

Indicate how much time you spent completing this task.

In [3]:
print(f"Starting datetime: {pd.to_datetime('today')}")
t0 = time()

Starting datetime: 2022-07-20 12:47:53.713166

Both, Series and DataFrames are basic structures of Python's Pandas library.

The main difference are:
    
| Series      | DataFrame   |
| :---        |    :----:   |
| Unidimensional      | Multidimensional       |
| One single data type   | Multiple data types across columns        |
| unmutable   | mutable        |


In practical terms a Series is equvalent to a DataFrame's single column.

An actually most of the methods are inherited from one another.

In [8]:
size = 1000

df = pd.DataFrame({"a":np.random.choice(a = range(10), size = size),
              "b":np.random.choice(a = range(10), size = size),
              "c":np.random.choice(a = range(10), size = size)})

In [14]:
df.sample(7)

     a  b  c
367  6  3  1
670  0  2  3
640  4  4  8
617  8  6  8
779  3  3  4
175  0  3  5
710  6  4  3

In [21]:
print(f"End datetime: {pd.to_datetime('today')}")
print(f"Time to complete: {(time()-t0)/60} minutes")

End datetime: 2022-07-20 12:59:18.470933
Time to complete: 11.412634952863057 minutes